<nav class="footer py-4">Copyright © 2021 Infinity Marketplace</nav>
<style>
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }
</style>
