<nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-4">
    <a href="#" class="navbar-brand"
        ><img
            src="/images/gauntlet.svg"
            alt="Logo"
            class="d-inline-block align-top mx-4"
            width="48"
            height="48"
        /><span class="align-middle" style="line-height: 2.3"
            >Infinity Marketplace</span
        ></a
    >
</nav>

<style>
    body {
        background-image: url("/images/cutcube.png");
    }
</style>